.main{display: block;}

.skill{
    display: flex;
margin-right: 10px;
margin-left: 50px;
justify-content: center;
align-items: center;
}
.pielredes{
    width: 100%;
display: flex;

margin: auto;
    border-radius: 80%;
    width: 100px;
padding: 2rem;
    
    
}

.pielredes:hover{
border: 3px solid darkgrey;


}


.piel{
    width: 100%;
display: flex;

margin: auto;
    border-radius: 80%;
    width: 100px;
padding: 2rem;
    
    
}


.destacados{
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 20px;

}

.piel:hover{

    border: 5px solid green;
}